@col-darkblue: #334D5C;
@col-cyan: #45B29D;
@col-yellow: #EFC94C;
@col-orange: #E27A3F;
@col-salmon: #DF4949;


body {
  padding-top: 50px;
  font: 14px 'Open Sans', sans-serif;
}

input, button {
  font-family:  'Open Sans', sans-serif !important;
}

a {
  color: #00B7FF;
}
.bar {
  border-bottom:none;
  box-shadow: 0px 0px 2px;
}
.bar-header-secondary  ~ .content {
  padding-top: 44px; //our secondary bar is dynamic
}
.content-pane {
  &.scroll {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    padding-top: 44px;
  }


  &.in {
    display:none;
  }
}
.btn {
  border:none;
  &.btn-positive {
    background:@col-cyan;
  }
}
.bar-nav .btn {
background: white;
  color:@col-darkblue;
}

#main-navbar {
  background: @col-darkblue;
  h1 {color: white;
    line-height:42px;
    font-size:20px;
    font-weight:300;
  }
}

#station-bar {
  z-index:2;
  top:0px;
  -webkit-transition: top 1s ease-in-out;
  padding: 12px;
  &.out {
    top:44px;
  }
  h4 {
    text-align:center;
  }
}
#welcome {
  background: url("../images/bg.jpg");
  background-position: 60% 44%;
  background-size:113%;

  #btn-localize {
    border-radius: 12px;
    height: 70px;
    width: 270px;
    margin: auto auto;
    margin-top: 133%;
  }
}

#pane-select-route {
  ul.table-view li {
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .route:before {
    vertical-align: sub;
    margin-right: 10px;
  }
  .route.sbahn:before {
    content: url('/images/icon_sbahn.png');
  }

  .route.bus:before {
    content: url('/images/icon_bus.png');
  }

  .route.ubahn:before {
    content: url('/images/icon_ubahn.png');
  }
  .route.nacht:before {
    content: url('/images/icon_nacht.png');
  }
  .route.regio:before {
    content: url('/images/icon_regio.png');
  }
  .route.tram:before {
    content: url('/images/icon_tram.png');
  }
}

#message-list {
  position:relative;
  h3.station {
    font-size: 18px;
    text-align: center;
    border-bottom: 1px solid #EEE;
    padding: 10px 0px 11px 0px;
    font-weight:100;
  }
  .tweet, .instagram {
    .btn.paypal {
      float: right;
    }

    clear:both;
    background-color:white;
    padding: 10px;
    margin: 0px 15px 15px 3px;
    position:relative;
    a:link, a:active,a:visited {
      text-decoration:none;
    }
    a:hover {
      text-decoration:underline;
    }

    .user {
      display:block;
      margin-bottom:5px;
      img {
        width:40px;
        float:left;
        margin-right:8px;
      }
      h3, h3 a {
        font-size:16px;
        font-weight:100;
        color: #222;
        margin-bottom: 3px;
      }
      small, small a {
        font-size:11px;
        font-weight:normal;
        color:#999;
      }
    }
    p.text {
      clear:both;
      word-wrap: break-word;
      a {
        color: #2e6795;
      }
    }

    .date, .date a {
      color: #ddd;
      font-size: 11px;

    }

    .image {
      width: 114%;
      margin-left: -16px;
      position:relative;
      .date, .date a {
        position: absolute;
        right: 3px;
        bottom: 4px;
        color: #ddd;
        font-size: 11px;
        width: 75%;
        text-align: right;
      }
      img {
        max-width:100%;
      }
    }

    .actions {
      margin-top: 14px;
      p {
        float:left;
        margin-left:10px;
        font-size:10px;
        a:link, a:active,a:visited {
          color: #ddd;
        }
        a:hover {
          color:#3b88c3;
        }
      }
      i.glyph {
        background-image:url('/images/everything-spritev2.png');

        width: 16px;
        height: 16px;
        margin-right: 3px;
        display: inline;
        float: left;
        margin-top: -3px;
        &.retweet {
          background-position: -80px 0px;
          &:hover {
            background-position: -96px 0px;
          }
        }
        &.reply {
          background-position: 0px 0px;
          &:hover {
            background-position: -16px 0px;
          }
        }
        &.favorite {
          background-position: -32px 0px;
          &:hover {
            background-position: -48px 0px;
          }
        }
      }
    }
  }

}

